body {
  font-size: 1.2em;
  font-weight: 600;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  background: url(instagram.jpg) no-repeat left bottom fixed;
  background-size: cover;
}

nav {
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 26em;
}

ul {
  margin: 0;
  padding: 1em;
  list-style-type: none;
}

li {
  padding-bottom: 1.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
