body{
	font-size: 1.2em;
	font-weight: 600;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	width: 18.5em;
}

h2{
	padding: 2rem 2rem 0 2rem;
	margin:0;
}


nav{
	padding: 0 0;
	background-color: rgba(255, 255, 255, .97);
	width: 18em;
}

ul{
	margin:0;
	padding: 1rem 3rem;
	list-style-type: none;
}

li{
	padding-bottom: 1.2rem;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline
}

.map{
	position: fixed;
	top:0;
	left:0;
  width:100%;
  height: 100%;
  margin: 0;
	z-index: -1;
}

.ol-zoom, .ol-scale-line{
	margin-left:18.5em;
}
